/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

body {
  font-family: 'PT Sans', serif;
}

ul{
  list-style-type: none;
  margin-right: 50px;
  height: 100px
}

ul li {
  float:left;
  padding: 25px;
  background: black;
}

ul li:hover{
  background: #222
}

ul li a{
  color: white;
  text-decoration: none
}

.clear{
  clear:both;
}

.menu{
  float:right
}

.page{
  padding-top:20px;
}

.wrapper{
  border:1px solid black
}

.content{
  padding-bottom: 20px
}

.posts{
}

.posts .post{
  margin-right:4px;
  border: 1px solid black;
}

.posts .post .title{
  background: black;
  color: white;
}

.logo{
  position:absolute;
  margin-top: -20px;
  margin-left: 50px;
  background: black;
  padding: 10px 5px;
}

.footer{
  background: black;
  color: white;
}

.footer a{
  color: #808080
}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

  body {

  }

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}
