* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
a:hover,
a:focus {
  text-decoration: underline;
}

/* LAYOUT CSS */
#layout {
  position: relative;
}

.topbar {
  width: 100%;
  height: 400px;
  position: relative;
  margin: 0;
  top: 0;
  background: url("/img/bg.png");
  background-size: cover;
}

.header {
  text-align: center;
  margin-top: 60px;
}

.brand-title,
.brand-tagline {
  margin: 0;
}
.brand-title {
  text-transform: uppercase;
}
.brand-tagline {
  font-weight: 300;
  color: rgb(142, 142, 214);
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-item {
  display: inline-block;
  *display: inline;
  color: black;
  font-size: 2em;
  zoom: 1;
}
.nav-item a {
  margin-top: 1em;
}
.nav-item a:hover,
.nav-item a:focus {
  color: white;
  text-decoration: none;
}

.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.content {
  padding: 2em 3em 0;
  margin: 0 auto;
  width: 50%
}

.post {
  padding-bottom: 1em;
}

.post-time {
  position: absolute;
  top: 10px;
  right: -100px;
  color: grey;
}

.post-list-header {
  position: relative;
  font-family: 'Viga', sans-serif;
}

.post-title {
  font-size: 2em;
  color: #222;
  margin-bottom: 0.2em;
  font-family: 'Viga', sans-serif;
}

.post-avatar {
  border-radius: 50px;
  float: right;
  margin-left: 1em;
}
.post-description {
  color: #444;
  line-height: 1.8em;
  font-family: 'Orienta', sans-serif;
}
.post-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}

.post-category {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: #fff;
  background: #999;
  font-size: 80%;
}

.post-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: #fff;
  text-shadow: 0 1px 1px #333;
}

.footer {
  text-align: center;
  padding: 1em 0;
}
.footer a {
  color: #ccc;
  font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
  background: none;
}

@media (max-width: 767px) {
  #layout {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 2em 1em 0;
  }
}

