/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

body {
  font-family: 'PT Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  background: url(/images/stripe.png);
  line-height: 1.4;
}

h1{
  font-size: 3em;
  padding: 10px
}

h2{
  font-size: 2em;
  padding: 10px
}

h3{
  padding: 10px
}

ul{
  list-style-type: none;
  margin-right: 50px
}

ul li {
  float: left;
  margin-right: 15px;
}

p, h1 {
  padding-bottom: 10px
}

.content a{
  color: #808080
}
  .content p{
    padding-top: 10px
  }

.clear{
  clear:both;
}

.page{
  padding-top:20px;
}

.wrapper{
  background: white;
}

.featured{
  padding-bottom: 40px
}

.content{
  padding-bottom: 20px;
  color: #000;
}

.posts .post{
  margin-right:4px;
}

.posts .post a{
  text-decoration: none
  color: #000;
}

.logo{
  position:absolute;
  margin-top: -20px;
  margin-left: 30px;
  background: black;
  padding: 15px 10px;
}

.centered{
  margin: 0 auto
}

.no_float{
  float: none
}

.right{
  float: right
}

.footer{
  background: black;
  color: white;
  padding: 20px
}

.footer a{
  color: #808080
}

nav.menu{
  float: right;
  height: 20px;
  margin-top: -10px;
  margin-bottom: 7px
}

#post_title{
  margin-top: -50px;
  margin-bottom: 50px;
  margin-right: 30px;
  background: white;
  padding: 10px;
  float: right;
  z-index: 999;
  position: relative;
  line-height: 60px
}

.who_am_i p{
  font-size: 0.8em;
  line-height: 0.5em
}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

  body {

  }

  h1{ font-size: 1.5em}

  .page{
    padding-top: 5px
  }

  .logo{
    padding: 7px 5px;
    margin-top: -5px;
    margin-left: 10px;
  }

  .logo img{
    width: 35px
  }

  #post_title{
    padding: 5px;
    margin-top: -30px;
    line-height: 15px
  }

  ul{
    margin-right: 10px
  }

  nav.menu {
    height: 10px;
    margin-top: 3px
  }

  .menu img{
    width: 20px
  }

  .who_am_i p{
    line-height: 15px
  }

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}
