!!! 5
%html
  %head
    %title
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{rel: "stylesheet", href: "/css/1140.css", type: "text/css", media: "screen"}
    %link{rel: "stylesheet", href: "/css/styles.css", type: "text/css", media: "screen"}
    %link{rel: "stylesheet", href: "http://fonts.googleapis.com/css?family=PT Sans", type: "text/css", media: "screen"}
    %script{type: "text/javascript", src: "/js/css3-mediaqueries.js"}
    %script{type: "text/javascript", src: "http://twitterjs.googlecode.com/svn/trunk/src/twitter.min.js"}
    %script{type: "text/javascript", src: "http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"}
    %script{type: "text/javascript", src: "https://github.com/thecoffman/tehcodez/raw/master/jquery.tehcodez.js"}
  %body
    .container
      .row
        .twocol
        .eightcol
          .twelvecol.page
            .logo
              %a{href: "/"}
                %img{src:"/images/crow.png"}
            .twelvecol.wrapper
              .menu.clear
                %ul
                  %li
                    %a{href: "/rax"} corax
                  %li
                    %a{href: "/contact"} contact
              .content.twelvecol
                .onecol
                .tencol {{content}}
                .onecol
              .footer.twelvecol.clear
                #twitter.fivecol
                .twocol
                #github.fivecol
        .twocol

    :javascript
      $('#github').tehcodez({
        username: 'elcuervo',
        max: 5
      });

      getTwitters('twitter', {
        id: 'elcuervocorax',
        count: 5,
        enableLinks: true,
        ignoreReplies: true,
        clearContents: true,
        template: '%text% <a href="http://twitter.com/%user_screen_name%/statuses/%id_str%/">%time%</a>'
      });

    %script{type: "text/javascript", src: "http://drnic.github.com/github-badges/dist/github-badge-launcher.js"}

